body, div {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
}

#container {
	overflow: auto;
}

#toolBar {
	position: absolute;
	width: 100%;
	background: rgba(0, 0, 0, .8);
	bottom: 0;
}

.icons {
	height: 40px;
}

.imgWindow {
	float: left;
	height: 500px;
	width: 400px;
	border: 1px solid black;
}

.topBar {
	width: 100%;
	height: 30px;
	background: grey;
}

.topImg {
	padding: 5px;
	height: 20px;

}

.topTitle {
	position: absolute;
	top: 8px;
	left: 40px;
	margin: 0;
	font-size: 14px;
	color: rgb(255, 255, 255);
}



.close{
	width: 30px;
	height: 100%;
	float: right;
	background: black;
}

.main {
	background: white;
	height: 455px;
	overflow: auto;

}

.loadingDiv {
	text-align: center;
	height: 100%;
}

.loadingDiv:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.loadingDiv img {
	display: inline-block;
	vertical-align: middle;
}

.imgDiv {
	float: left;
	text-align: center;
	margin: 10px;
	background-color: rgba(0, 0, 0, 0.2);
}

.imgDiv:before {    /* create a full-height inline block pseudo=element */
    content: ' ';
    display: inline-block;
    vertical-align: middle;  /* vertical alignment of the inline element */
    height: 100%;
}

.img {
	display: inline-block;
	vertical-align: middle;
}
.bottomBar {
	height: 15px;
	background: grey;
}